# Wrangle and Analyze Data (Udacity - Data Analyst Nanodegree Program)
#### Alen Mrsic

## Project Context

<b>Goal:</b> wrangle WeRateDogs Twitter data to create interesting and trustworthy analyses and visualizations. The Twitter archive is great, but it only contains very basic tweet information. Additional gathering, then assessing and cleaning is required for "Wow!"-worthy analyses and visualizations.

## Gathering data

In [187]:
# Importing python libraries
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import tweepy
import requests
import json
import re

### TSV file: image-predictions.tsv

In [8]:
url = 'https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv'
http_response = requests.get(url)
file_name = 'image-predictions.tsv'

with open (file_name, mode='wb') as  file:
    file.write(http_response.content)

In [9]:
image_predict = pd.read_csv(file_name, sep='\t', encoding='UTF-8')
image_predict.head()

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

### CSV file: twitter-archive-enhanced.csv

In [10]:
# Read CSV (comma-separated) file into DataFrame
twitter_archive_enhanced = pd.read_csv('twitter-archive-enhanced.csv', encoding = 'utf-8')

In [12]:
# check to the file content, only first 5 rows
twitter_archive_enhanced.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None

### Twitter file constructed via API

In [43]:
consumer_key = #consumer_key
consumer_secret = #consumer_secret
access_token = #access_token
access_secret = #access_secret

auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_secret)

api = tweepy.API(auth, 
                 parser = tweepy.parsers.JSONParser(), 
                 wait_on_rate_limit = True, 
                 wait_on_rate_limit_notify = True)

In [60]:
exception_list = []
tweet_list = []
i = 1

for tweet_id in twitter_archive_enhanced['tweet_id']:
    try:
        tweet = api.get_status(tweet_id, tweet_mode='extended')
        favorites_cnt = tweet['favorite_count'] 
        retweets_cnt = tweet['retweet_count']  
        tweet_list.append({'tweet_id': int(tweet_id),
                'favorites': int(favorites_cnt),
                'retweets': int(retweets_cnt)})
        
        if i%100==0:
            print("Number of processed tweets: " + str(i))
        i += 1

    except Exception as e:
        exception_list.append(tweet_id)

Number of processed tweets: 100
Number of processed tweets: 200
Number of processed tweets: 300
Number of processed tweets: 400
Number of processed tweets: 500
Number of processed tweets: 600

Rate limit reached. Sleeping for: 207

Number of processed tweets: 700
Number of processed tweets: 800
Number of processed tweets: 900
Number of processed tweets: 1000
Number of processed tweets: 1100
Number of processed tweets: 1200
Number of processed tweets: 1300
Number of processed tweets: 1400
Number of processed tweets: 1500

Rate limit reached. Sleeping for: 604

Number of processed tweets: 1600
Number of processed tweets: 1700
Number of processed tweets: 1800
Number of processed tweets: 1900
Number of processed tweets: 2000
Number of processed tweets: 2100
Number of processed tweets: 2200
Number of processed tweets: 2300

In [240]:
print ("Total number of archived tweets id: " + str(len(twitter_archive_enhanced))
       ,", number of scraped tweets from api: " + str(len(tweet_list))
       ,", number of recived errors from api: "+str(len(exception_list)))

Total number of archived tweets id: 2356 , number of scraped tweets from api: 2345 , number of recived errors from api: 11

In [241]:
# Corresponds with HTTP 404. The requested Tweet ID is not found (if it existed, it was probably deleted)
for missingtweet_id in exception_list:
    try:
        tweet = api.get_status(missingtweet_id, tweet_mode='extended')
    except tweepy.TweepError as e:
        print ("Error message: " + str(e.args[0][0]['message']) + ", with error code: "  +str(e.args[0][0]['code']) )

Error message: No status found with that ID., with error code: 144
Error message: No status found with that ID., with error code: 144
Error message: No status found with that ID., with error code: 144
Error message: No status found with that ID., with error code: 144
Error message: No status found with that ID., with error code: 144
Error message: No status found with that ID., with error code: 144
Error message: No status found with that ID., with error code: 144
Error message: No status found with that ID., with error code: 144
Error message: No status found with that ID., with error code: 144
Error message: No status found with that ID., with error code: 144
Error message: No status found with that ID., with error code: 144

In [228]:
#create file tweet_json.txt with columns 'tweet_id', 'favorites', 'retweets'
tweet_json = pd.DataFrame(tweet_list, columns = ['tweet_id', 'favorites', 'retweets'])
tweet_json.to_csv('tweet_json.txt', index=False, encoding = 'utf-8')

In [229]:
tweet_json.head()

             tweet_id  favorites  retweets
0  892420643555336193      38871      8612
1  892177421306343426      33287      6327
2  891815181378084864      25087      4200
3  891689557279858688      42238      8726
4  891327558926688256      40395      9497

### Gathering summary

I gathered the data:

- from HTTP server saved to my local drive as tsv file - image-predictions.tsv
    - saved to image_predict dataframe
- from my local drive - twitter-archive-enhanced.csv.
    - saved to twitter_archive_enhanced dataframe 
- from the Twitter API saved to my local drive as txt file - tweet_json.txt
    - saved to tweet_json dataframe

From the Twitter API, I received an error "No status found with that ID" with an error code "144" for 11 tweets. From https://developer.twitter.com/en/docs/basics/response-codes I found out that the requested Tweet ID is not found (if it existed, it was probably deleted).

## Assessing the data

#### image_predict dataframe

In [263]:
image_predict.head(15)

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True
5,666050758794694657,https://pbs.twimg.com/media/CT5Jof1WUAEuVxN.jpg,1,Bernese_mountain_dog,0.651137,True,English_springer,0.263788,True,Greater_Swiss_Mountain_dog,0.016199,True
6,666051853826850816,https://pbs.twimg.com/media/CT5KoJ1WoAAJash.jpg,1,box_turtle,0.933012,False,mud_turtle,0.045885,False,terrapin,0.017885,False
7,666055525042405380,https://pbs.twimg.com/media/CT5N9tpXIAAifs1.jpg,1,chow,0.692517,True,Tibetan_mastiff,0.058279,True,fur_coat,0.054449,False
8,666057090499244032,https://pbs.twimg.com/media/CT5PY90WoAAQGLo.jpg,1,shopping_cart,0.962465,False,shopping_basket,0.014594,False,golden_retriever,0.007959,True
9,666058600524156928,https://pbs.twimg.com/media/CT5Qw94XAAA_2dP.jpg,1,miniature_poodle,0.201493,True,komondor,0.192305,True,soft-coated_wheaten_terrier,0.082086,True
10,666063827256086533,https://pbs.twimg.com/media/CT5Vg_wXIAAXfnj.jpg,1,golden_retriever,0.775930,True,Tibetan_mastiff,0.093718,True,Labrador_retriever,0.072427,True
11,666071193221509120,https://pbs.twimg.com/media/CT5cN_3WEAAlOoZ.jpg,1,Gordon_setter,0.503672,True,Yorkshire_terrier,0.174201,True,Pekinese,0.109454,True
12,666073100786774016,https://pbs.twimg.com/media/CT5d9DZXAAALcwe.jpg,1,Walker_hound,0.260857,True,English_foxhound,0.175382,True,Ibizan_hound,0.097471,True
13,666082916733198337,https://pbs.twimg.com/media/CT5m4VGWEAAtKc8.jpg,1,pug,0.489814,True,bull_mastiff,0.404722,True,French_bulldog,0.048960,True
14,666094000022159362,https://pbs.twimg.com/media/CT5w9gUW4AAsBNN.jpg,1,bloodhound,0.195217,True,German_shepherd,0.078260,True,malinois,0.075628,True

In [247]:
image_predict.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
tweet_id    2075 non-null int64
jpg_url     2075 non-null object
img_num     2075 non-null int64
p1          2075 non-null object
p1_conf     2075 non-null float64
p1_dog      2075 non-null bool
p2          2075 non-null object
p2_conf     2075 non-null float64
p2_dog      2075 non-null bool
p3          2075 non-null object
p3_conf     2075 non-null float64
p3_dog      2075 non-null bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

In [261]:
image_predict['jpg_url'].value_counts().head(10)

https://pbs.twimg.com/media/CcG07BYW0AErrC9.jpg                2
https://pbs.twimg.com/media/CW88XN4WsAAlo8r.jpg                2
https://pbs.twimg.com/media/CmoPdmHW8AAi8BI.jpg                2
https://pbs.twimg.com/media/Ct72q9jWcAAhlnw.jpg                2
https://pbs.twimg.com/tweet_video_thumb/CeBym7oXEAEWbEg.jpg    2
https://pbs.twimg.com/media/CwS4aqZXUAAe3IO.jpg                2
https://pbs.twimg.com/media/CuRDF-XWcAIZSer.jpg                2
https://pbs.twimg.com/media/Cs_DYr1XEAA54Pu.jpg                2
https://pbs.twimg.com/media/CvT6IV6WEAQhhV5.jpg                2
https://pbs.twimg.com/media/Co-hmcYXYAASkiG.jpg                2
Name: jpg_url, dtype: int64

In [258]:
image_predict[image_predict['jpg_url'] == 'https://pbs.twimg.com/media/CcG07BYW0AErrC9.jpg']

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
930,703041949650034688,https://pbs.twimg.com/media/CcG07BYW0AErrC9.jpg,1,hippopotamus,0.581403,False,doormat,0.152445,False,sea_lion,0.026364,False
1463,778396591732486144,https://pbs.twimg.com/media/CcG07BYW0AErrC9.jpg,1,hippopotamus,0.581403,False,doormat,0.152445,False,sea_lion,0.026364,False

#### twitter_archive_enhanced dataframe

In [5]:
twitter_archive_enhanced.head(50)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None
5,891087950875897856,NaN,NaN,2017-07-29 00:08:17 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a majestic great white breaching ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891087950...,13,10,None,None,None,None,None
6,890971913173991426,NaN,NaN,2017-07-28 16:27:12 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Meet Jax. He enjoys ice cream so much he gets ...,NaN,NaN,NaN,"https://gofundme.com/ydvmve-surgery-for-jax,ht...",13,10,Jax,None,None,None,None
7,890729181411237888,NaN,NaN,2017-07-28 00:22:40 +0000,"<a href=""http://twitter.com/download/iphone"" r...",When you watch your owner call another dog a g...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/890729181...,13,10,None,None,None,None,None
8,890609185150312448,NaN,NaN,2017-07-27 16:25:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Zoey. She doesn't want to be one of th...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/890609185...,13,10,Zoey,None,None,None,None
9,890240255349198849,NaN,NaN,2017-07-26 15:59:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Cassie. She is a college pup. Studying...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/890240255...,14,10,Cassie,doggo,None,None,None
10,890006608113172480,NaN,NaN,2017-07-26 00:31:25 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Koda. He is a South Australian decksha...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/890006608...,13,10,Koda,None,None,None,None
11,889880896479866881,NaN,NaN,2017-07-25 16:11:53 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Bruno. He is a service shark. Only get...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889880896...,13,10,Bruno,None,None,None,None
12,889665388333682689,NaN,NaN,2017-07-25 01:55:32 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here's a puppo that seems to be on the fence a...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889665388...,13,10,None,None,None,None,puppo
13,889638837579907072,NaN,NaN,2017-07-25 00:10:02 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Ted. He does his best. Sometimes that'...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889638837...,12,10,Ted,None,None,None,None
14,889531135344209921,NaN,NaN,2017-07-24 17:02:04 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Stuart. He's sporting his favorite fan...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889531135...,13,10,Stuart,None,None,None,puppo
15,889278841981685760,NaN,NaN,2017-07-24 00:19:32 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Oliver. You're witnessing one of his m...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889278841...,13,10,Oliver,None,None,None,None
16,888917238123831296,NaN,NaN,2017-07-23 00:22:39 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Jim. He found a fren. Taught him how t...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/888917238...,12,10,Jim,None,None,None,None
17,888804989199671297,NaN,NaN,2017-07-22 16:56:37 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Zeke. He has a new stick. Very proud o...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/888804989...,13,10,Zeke,None,None,None,None
18,888554962724278272,NaN,NaN,2017-07-22 00:23:06 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Ralphus. He's powering up. Attempting ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/888554962...,13,10,Ralphus,None,None,None,None
19,888202515573088257,NaN,NaN,2017-07-21 01:02:36 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Canela. She attempted s...,8.874740e+17,4.196984e+09,2017-07-19 00:47:34 +0000,https://twitter.com/dog_rates/status/887473957...,13,10,Canela,None,None,None,None
20,888078434458587136,NaN,NaN,2017-07-20 16:49:33 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Gerald. He was just told he didn't get...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/888078434...,12,10,Gerald,None,None,None,None
21,887705289381826560,NaN,NaN,2017-07-19 16:06:48 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Jeffrey. He has a monopoly on the pool...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/887705289...,13,10,Jeffrey,None,None,None,None
22,887517139158093824,NaN,NaN,2017-07-19 03:39:09 +0000,"<a href=""http://twitter.com/download/iphone"" r...",I've yet to rate a Venezuelan Hover Wiener. Th...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/887517139...,14,10,such,None,None,None,None
23,887473957103951883,NaN,NaN,2017-07-19 00:47:34 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Canela. She attempted some fancy porch...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/887473957...,13,10,Canela,None,None,None,None
24,887343217045368832,NaN,NaN,2017-07-18 16:08:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",You may not have known you needed to see this ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/887343217...,13,10,None,None,None,None,None
25,887101392804085760,NaN,NaN,2017-07-18 00:07:08 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This... is a Jubilant Antarctic House Bear. We...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/887101392...,12,10,None,None,None,None,None
26,886983233522544640,NaN,NaN,2017-07-17 16:17:36 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Maya. She's very shy. Rarely leaves he...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/886983233...,13,10,Maya,None,None,None,None
27,886736880519319552,NaN,NaN,2017-07-16 23:58:41 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Mingus. He's a wonderful father to his...,NaN,NaN,NaN,"https://www.gofundme.com/mingusneedsus,https:/...",13,10,Mingus,None,None,None,None
28,886680336477933568,NaN,NaN,2017-07-16 20:14:00 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Derek. He's late for a dog meeting. 13...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/886680336...,13,10,Derek,None,None,None,None
29,886366144734445568,NaN,NaN,2017-07-15 23:25:31 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Roscoe. Another pupper fallen victim t...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/886366144...,12,10,Roscoe,None,None,pupper,None
30,886267009285017600,8.862664e+17,2.281182e+09,2017-07-15 16:51:35 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@NonWhiteHat @MayhewMayhem omg hello tanner yo...,NaN,NaN,NaN,NaN,12,10,None,None,None,None,None
31,886258384151887873,NaN,NaN,2017-07-15 16:17:19 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Waffles. His doggles are pupside down....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/886258384...,13,10,Waffles,None,None,None,None
32,886054160059072513,NaN,NaN,2017-07-15 02:45:48 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @Athletics: 12/10 #BATP https://t.co/WxwJmv...,8.860537e+17,1.960740e+07,2017-07-15 02:44:07 +0000,https://twitter.com/dog_rates/status/886053434...,12,10,None,None,None,None,None
33,885984800019947520,NaN,NaN,2017-07-14 22:10:11 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Viewer discretion advised. This is Jimbo. He w...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/885984800...,12,10,Jimbo,None,None,None,None
34,885528943205470208,NaN,NaN,2017-07-13 15:58:47 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Maisey. She fell asleep mid-excavation...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/885528943...,13,10,Maisey,None,None,None,None
35,885518971528720385,NaN,NaN,2017-07-13 15:19:09 +0000,"<a href=""http://twitter.com/download/iphone"" r...",I have a new hero and his name is Howard. 14/1...,NaN,NaN,NaN,https://twitter.com/4bonds2carbon/status/88551...,14,10,None,None,None,None,None
36,885311592912609280,NaN,NaN,2017-07-13 01:35:06 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Lilly. She just paralle...,8.305833e+17,4.196984e+09,2017-02-12 01:04:29 +0000,https://twitter.com/dog_rates/status/830583320...,13,10,Lilly,None,None,None,None
37,885167619883638784,NaN,NaN,2017-07-12 16:03:00 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a corgi undercover as a malamute....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/885167619...,13,10,None,None,None,None,None
38,884925521741709313,NaN,NaN,2017-07-12 00:01:00 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Earl. He found a hat. Nervous about wh...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/884925521...,12,10,Earl,None,None,None,None
39,884876753390489601,NaN,NaN,2017-07-11 20:47:12 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Lola. It's her first time outside. Mus...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/884876753...,13,10,Lola,None,None,None,None
40,884562892145688576,NaN,NaN,2017-07-11 00:00:02 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Kevin. He's just so happy. 13/10 what ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/884562892...,13,10,Kevin,None,None,None,None
41,884441805382717440,NaN,NaN,2017-07-10 15:58:53 +0000,"<a href=""http://twitter.com/download/iphone"" r...","I present to you, Pup in Hat. Pup in Hat is gr...",NaN,NaN,NaN,https://twitter.com/dog_rates/status/884441805...,14,10,None,None,None,None,None
42,884247878851493888,NaN,NaN,2017-07-10 03:08:17 +0000,"<a href=""http://twitter.com/download/iphone"" r...",OMG HE DIDN'T MEAN TO HE WAS JUST TRYING A LIT...,NaN,NaN,NaN,https://twitter.com/kaijohnson_19/status/88396...,13,10,None,None,None,None,None
43,884162670584377345,NaN,NaN,2017-07-09 21:29:42 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Meet Yogi. He doesn't have any important dog m...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/884162670...,12,10,Yogi,doggo,None,None,None
44,883838122936631299,NaN,NaN,2017-07-09 00:00:04 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Noah. He can't believe someone made th...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/883838122...,12,10,Noah,None,None,None,None
45,883482846933004288,NaN,NaN,2017-07-08 00:28:19 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Bella. She hopes her smile made you sm...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/883482846...,5,10,Bella,None,None,None,None
46,883360690899218434,NaN,NaN,2017-07-07 16:22:55 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Meet Grizzwald. He may be the floofiest floofe...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/883360690...,13,10,Grizzwald,None,floofer,None,None
47,883117836046086144,NaN,NaN,2017-07-07 00:17:54 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Please only send dogs. We don't rate mechanics...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/883117836...,13,10,None,None,None,None,None
48,882992080364220416,NaN,NaN,2017-07-06 15:58:11 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Rusty. He wasn't ready for the first p...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/882992080...,13,10,Rusty,None,None,None,None
49,882762694511734784,NaN,NaN,2017-07-06 00:46:41 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Gus. He's quite the cheeky pupper. Alr...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/882762694...,12,10,Gus,None,None,pupper,None

In [274]:
twitter_archive_enhanced.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2356 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null object
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

In [281]:
twitter_archive_enhanced['name'].value_counts()

None            745
a                55
Charlie          12
Oliver           11
Cooper           11
Lucy             11
Tucker           10
Lola             10
Penny            10
Winston           9
Bo                9
Sadie             8
the               8
Daisy             7
Bailey            7
an                7
Toby              7
Buddy             7
Leo               6
Rusty             6
Dave              6
Jax               6
Oscar             6
Stanley           6
Jack              6
Scout             6
Milo              6
Koda              6
Bella             6
Finn              5
               ...
Eleanor           1
Mimosa            1
Wiggles           1
Traviss           1
Sojourner         1
Bruno             1
Obie              1
Tonks             1
Cleopatricia      1
Brandi            1
Rodman            1
light             1
Harlso            1
Goose             1
Dido              1
Trevith           1
Donny             1
Ricky             1
Tassy             1
Frönq             1
Link              1
Blanket           1
Lillie            1
Karma             1
Jareld            1
Dallas            1
Jerome            1
Opie              1
Billl             1
Furzey            1
Name: name, Length: 957, dtype: int64

In [812]:
twitter_archive_enhanced['text'].str[:10].unique()

array(['This is Ph', 'This is Ti', 'This is Ar', 'This is Da',
       'This is Fr', 'Here we ha', 'Meet Jax. ', 'When you w',
       'This is Zo', 'This is Ca', 'This is Ko', 'This is Br',
       "Here's a p", 'This is Te', 'This is St', 'This is Ol',
       'This is Ji', 'This is Ze', 'This is Ra', 'RT @dog_ra',
       'This is Ge', 'This is Je', "I've yet t", 'You may no',
       'This... is', 'This is Ma', 'This is Mi', 'This is De',
       'This is Ro', '@NonWhiteH', 'This is Wa', 'RT @Athlet',
       'Viewer dis', 'I have a n', 'This is Ea', 'This is Lo',
       'This is Ke', 'I present ', 'OMG HE DID', 'Meet Yogi.',
       'This is No', 'This is Be', 'Meet Grizz', 'Please onl',
       'This is Ru', 'This is Gu', 'This is Al', 'This is Re',
       'This is Ga', '@roushfenw', 'Here is a ', 'Meet Ellio',
       'Ugh not ag', 'Meet Jesse', 'Please don', '@RealKentM',
       'This is Ba', 'This is Du', 'This is Ja', 'This is Sn',
       'Martha is ', 'Meet Shado', 'This is Em', 'This is Aj',
       'RT @rachel', 'This is Pe', 'Meet Dante', 'This is Ne',
       'This is Gi', 'I can say ', 'Meet Venti', 'This is Go',
       'Meet Nugge', "You'll get", 'Guys pleas', 'Meet Cash.',
       "I can't be", 'This is Se', 'We usually', 'This is Si',
       "Here's a v", 'Here are m', 'RT @logana', 'This is Mo',
       'We. Only. ', 'This is Ha', 'Say hello ', 'This is Na',
       'Never doub', 'This is Bo', 'Real funny', '@Complicit',
       'This is Co', 'Meet Cliff', 'Meet Stanl', 'This is Sc',
       "Here's a h", 'Unbelievab', 'Meet Harol', 'This is Sh',
       'RT @rachae', 'Oh my this', 'He was pro', 'This is Li',
       'Meet Boome', 'This is Sa', 'We only ra', 'This is Me',
       'This is Pa', '@Jack_Sept', 'Ladies and', 'This is Ho',
       'HI. MY. NA', 'This is Bu', 'RT @tallyl', 'Meet Loren',
       'This is Jo', 'Meet Milky', 'Meet Troop', 'Sorry for ',
       'I have stu', 'This is So', 'This is Wy', 'Meet Thor.',
       'Instead of', 'This is Os', '@Marc_IRL ', 'RT @AaronC',
       'THIS IS CH', 'RT @Jenna_', '@xianmcgui', 'This is Ce',
       '@dhmontgom', '@s8n You t', "HE'S LIKE ", 'I HEARD HE',
       'Guys, we o', 'RT @fraser', 'This is Ei', 'Sometimes ',
       'At first I', 'A photogra', 'Meet Benny', 'This is As',
       'This is Wi', 'Meet Gener', 'RT @eddie_', 'Oh jeez u ',
       'This is Ig', 'Meet Snoop', 'This is Ky', 'This is Le',
       '@markhoppu', 'This is Ri', 'Seriously ', 'Please sto',
       'Meet Odin.', 'Jerry just', 'RT @basic_', '.@breaanna',
       'This is Fu', 'Meet Daisy', 'This is Tu', 'THIS WAS N',
       'This is Vi', 'SHE DID AN', 'Meet Jarvi', "C'mon guys",
       'This is Pi', 'PUPDATE: I', 'This is Lu', 'This is Ch',
       'HE WAS DOI', 'This is Ty', 'Meet Indie', 'Meet Georg',
       "We don't r", '@0_kelvin_', "I didn't e", 'You have b',
       'Meet Sojou', 'Meet Winst', 'RT @alexma', 'This is Od',
       'SHE MISPLA', 'RT @KibaDv', '@bragg6of8', 'This is Cl',
       'RT @KennyF', 'RT @Schafe', 'This is Av', 'Atlas is b',
       'This is El', 'Meet Ash. ', 'Meet Lola.', '@jonnysun ',
       "When you'r", 'This is To', "Here's a d", 'Meet Chest',
       'This is Su', 'DOGGO ON T', 'Meet Charl', 'RT @rollti',
       'This is Po', 'This is Rh', 'RT @Emilie', 'Prosperous',
       "There's go", 'This is Or', 'This is Ee', '@docmister',
       '@UNC can c', 'Meet Kuyu.', 'I usually ', "I couldn't",
       'Meet Samso', "Here's a s", 'This is Fi', 'Occasional',
       'This is Mu', 'Meet Doobe', 'Beebop and', 'Meet Tucke',
       'This is Cu', 'I was goin', "Here's a l", 'This is Ik',
       'This is Sw', 'Retweet th', '"I wish we', 'This is Cr',
       '@HistoryIn', '@imgur for', 'This is Fl', 'Meet Sunny',
       'The floofs', 'We are pro', "I've never", 'Some happy',
       'Meet Wafer', 'This is Au', 'Looks like', 'This is Di',
       'Meet Strud', 'Name a mor', 'This is Bi', 'Meet Moose',
       'Meet Jack.', 'This is Ak', 'Happy New ', 'Meet Gary,',
       'This is Sk', 'Here is At', 'This is La', 'Everybody ',
       "I've been ", "Here's an ", 'Meet Toby.', "I'm happy ",
       'Meet Sam. ', 'This is Hu', 'I call thi', 'This is It',
       '"Good afte', 'Hooman cat', 'Meet Sansa', 'This is Dj',
       "HE'S TRYIN", 'Pupper hat', 'Meet Sonny', 'Like doggo',
       'RT @ChinoC', '.@NBCSport', 'oh h*ck 10', '@SkyWillia',
       'RT @Lin_Ma', 'This is Do', 'This is Ir', '@JODYHiGHR',
       '#ImWithTho', "I didn't b", 'This is Yo', 'Elder dogg',
       'This is Ni', 'Meet Dave.', 'Oh h*ck lo', 'This is Ju',
       'Your favor', 'Meet BeBe.', 'Vine will ', 'When she s',
       'Meet Maggi', 'HE WAS JUS', 'Did... did', '"Honestly ',
       '13/10 for ', 'Meet Rusty', 'Today, 10/', 'This is He',
       'Meet Godi.', 'Who keeps ', 'Idk why th', 'Pupper but',
       'This is Oa', 'We normall', 'I want to ', 'Meet Hercu',
       'RT @Patreo', 'Have you e', 'Oh my god ', 'This is My',
       'Meet Strid', 'RIP Loki. ', 'Evolution ', 'This is We',
       '"Yep... ju', 'Meet Solom', 'Atlas roll', "This is O'",
       "I can't ta", 'This is Bl', 'This is An', 'This girl ',
       'This is Sp', 'I WAS SENT', 'Meet Winni', 'This is Gr',
       'You need t', 'Meet Roose', 'Guys this ', "Here's a c",
       'Doggo will', 'Meet Fizz.', 'Another pi', 'RT @katieo',
       'Meet Al Ca', 'This is Kl', 'This is Ki', 'Meet Chevy',
       'Meet Geral', "I don't kn", 'His name i', 'This is my',
       '@TheEllenS', 'Meet Glenn', 'This left ', 'Guys.. we ',
       'Ohboyohboy', 'Meet Bonap', 'This is Th', 'This is At',
       'Doggo want', 'Meet Sadie', 'RT @hownot', "Here's a w",
       'No no no t', 'This doggo', 'Meet Bosto', 'Why does t',
       'In case yo', 'Teagan rea', 'RT @jon_hi', "Here's ano",
       'She walks ', 'All hail s', 'Pwease acc', 'When ur ol',
       "Here's a f", 'This is on', 'When you h', '"The dogto',
       'Here we ar', 'This is Ac', 'So this ju', 'Nothing be',
       'Hooman use', 'Here are t', 'Hopefully ', '"This phot',
       'Meet Milo.', '13/10 such', 'And finall', 'Meet Lilah',
       'Pause your', 'Meet Jax &', 'Meet Piper', 'Duuun dun.',
       'What jokes', '#BarkWeek ', 'Meet Tripp', 'That is Qu',
       '"So... we ', 'SWIM AWAY ', 'This sherk', 'Stop what ',
       'PUPPER NOO', "Pls don't ", 'This is a ', 'Other pupp',
       'Again w th', 'Guys pls s', 'Never seen', 'Guys... I ',
       'PUPDATE: c', 'Guys... Do', 'When you j', 'Meet Abby.',
       "Here's a g", 'This is an', 'This is Ab', 'This is ac',
       'Meet Stark', 'Meet Kayla', 'For anyone', 'Was just i',
       'This is Ed', 'When your ', 'Meet Aqua.', 'This is ju',
       'Meet Baloo', 'After so m', 'When the p', 'This is ge',
       'Meet Benji', '@mount_ale', 'When a sin', '"Don\'t tal',
       'For the la', 'This is Ax', 'Just wante', 'Right afte',
       '*faints* 1', 'Meet Buckl', 'This dog i', '"Ello this',
       'Like fathe', 'This is Zi', '"Challenge', 'Meet Pupca',
       'This is Pu', 'This is En', 'This is al', 'This is Ci',
       'This puppe', 'I swear to', 'This is Ka', "I'm gettin",
       'Pup had to', 'Nothin bet', 'This is Kr', 'This is Iv',
       'Happy 4/20', 'Meet Schni', "Garden's c", 'Meet Sid &',
       'This is Ot', 'Get you a ', 'Meet Bowie', 'This pic i',
       "Here's a b", 'People ple', 'This is Eb', 'This is Sm',
       'Meet Jenni', 'There has ', 'This is Oz', 'This is ol',
       'Just in ca', 'Meet Travi', 'Happy East', 'I know we ',
       'Happy Satu', 'Here we se', 'Reminder t', "I can't ev",
       'RT @twitte', 'Oh. My. Go', '"Please, n', 'What hooli',
       'Meet Milo ', "I've watch", 'We 👏🏻 only', 'The squad ',
       'This is Ta', 'Meet Watso', 'WeRateDogs', '*lets out ',
       'Meet Karma', 'From left ', 'Meet Rodne', 'Meet Malik',
       'Meet Bear.', 'RT if you ', 'This is Fa', '@serial @M',
       'Meet Rufus', "He's doing", '"I shall t', 'Meet Clark',
       'This dog j', 'Ever seen ', 'Please enj', 'He was doi',
       'This is Ad', 'Meet Max. ', 'Seriously,', '"Ma\'am, fo',
       'This is Am', 'I found a ', '"Yes hi co', '13/10 hero',
       'Meet Lucia', 'This sneez', '"YOU CAN\'T', 'Meet Scoot',
       'Really guy', 'Happy Frid', 'Meet Rambo', '"AND IIIII',
       "I know it'", 'Meet Rilo.', 'Please pra', 'Meet Milli',
       "I'm not su", '"Pupper is', 'Meet Crout', 'If a puppe',
       "When it's ", 'Take all m', 'Meet Fillu', 'I know thi',
       '"Don\'t eve', 'Meet Miley', '"I\'m bathi', 'Meet Reaga',
       'ERMAHGERD ', 'This is Yu', 'HAPPY V-DA', 'Meet CeCe.',
       'Meet Beau ', '"Dammit ho', 'Pls make s', 'Meet Blips',
       'Happy Wedn', 'These two ', 'Guys I fou', 'This is Tr',
       'After read', '12/10 revo', 'This poor ', 'If you are',
       'Meet Calvi', 'This may b', 'Meet Brian', 'Meet Olivi',
       "It's okay ", 'Meet Grady', '"Martha co', 'These lil ',
       'What kind ', 'BREAKING P', 'Meet Fredd', 'When you k',
       'Meet Phil.', 'Personally', 'I hope you', '"Thank you',
       '"Fuck the ', 'Meet Tupaw', '"Hello yes', 'PUPDATE: j',
       'Meet Hersc', 'These are ', 'THE BRITIS', 'When bae s',
       "We've got ", 'This golde', 'She though', '12/10 @Lig',
       'This is Er', 'Stop sendi', '"I\'m the o', 'Meet Fynn ',
       'Meet Luca.', 'Downright ', 'Someone se', 'Meet Lucky',
       'This is Fe', 'Meet Trip.', 'Meet Clare', 'When you s',
       'Meet Puber', 'Please sen', '13/10 I ca', 'With great',
       'Meet Opal.', 'Another ma', '"You got a', 'Meet Gordo',
       'Army of wa', 'Strange pu', 'I just lov', 'Meet Horac',
       "This pup's", 'Meet Birf.', 'Heartwarmi', 'When bae c',
       'Yes I do r', 'Your fav c', 'This is th', 'Jack deser',
       'Meet Brook', '"Tristan d', 'I would li', 'Meet Gerba',
       'For those ', 'Meet Bruis', 'This littl', 'Meet Theod',
       '"FOR THE L', 'After watc', 'Meet Pippa', 'This is Ob',
       'Two sneaky', 'Someone he', 'Gang of fe', '"Yo Boomer',
       'This is Ku', 'Breathtaki', 'Meet Sebas', 'HEY PUP WH',
       'Meet Banjo', '"Hello for', 'I just wan', '"Have a se',
       'Meet Brand', 'aahhhhksla', "I'm aware ", 'Meet Taco.',
       'NAAAAAAA Z', 'Meet Joey ', 'I have no ', 'Meet Brody',
       'This is Ul', 'Unique dog', 'Can you sp', '*collapses',
       'This is Ap', 'This is Gl', 'Meet Sarge', 'I thought ',
       'Meet Grisw', "This guy's", 'Great pict', 'Meet Percy',
       'Merry Chri', 'I hope eve', 'Meet Golia', 'This is by',
       'Meet Sammy', 'Meet Penel', 'This is Dw', 'This is Ev',
       'Meet Hurle', 'Crazy unse', 'I know eve', 'This is of',
       'This dog d', 'If your Mo', 'Meet Wilso', 'Meet Tango',
       'Exotic pup', 'Touching s', 'This made ', 'These litt',
       'Another sp', 'After gett', 'This is Iz', '"Everythin',
       "IT'S PUPPE", 'This was C', 'Endangered', 'In honor o',
       'Contortion', 'Reckless p', 'Not much t', 'This dog g',
       'Meet Humph', 'Meet Tassy', "10/10 I'd ", 'This pups ',
       'Who leaves', 'Super spee', 'Exotic han', 'Finally so',
       'Watch out ', 'When someo', 'I promise ', '*screeches',
       'After some', 'Meet Vinni', 'ITSOFLUFFA', 'Three gene',
       'Hope your ', 'Meet Duke.', 'All this p', 'Meet Strik',
       'Extremely ', '"Yes hello', "I'm sure y", "Ok, I'll a",
       '&amp; this', '🎶 HELLO FR', '12/10 stay', 'I shall ca',
       'Meet Reggi', 'RT until w', 'Rare shiel', 'The tail a',
       'Everyone n', 'Yea I lied', 'Good morni', 'holy shit ',
       'What an ho', 'Meet Zuzu.', 'Meet Moe. ', 'Meet Laela',
       'Ok last on', 'I have fou', 'ER... MER.', 'Bedazzled ',
       'This pup w', 'Just recei', 'Everyone p', 'Some clari',
       '"🎶 DO YOU ', 'Meet Rufio', 'Meet Patri', 'Meet Jeb &',
       'Two gorgeo', 'Rare subme', 'The 13/10 ', 'Meet Baile',
       'Meet Chesn', '13/10\n@ABC', 'This is li', '"AT DAWN, ',
       'Herd of wi', "Yea I can'", 'When you r', 'This pup i',
       "Guys I'm g", 'The millen', 'I know a l', 'Large blue',
       'Meet Larry', 'When you a', 'Sun burnt ', "IT'S SO SM",
       'Take a mom', 'Meet Eve. ', 'Magical fl', 'Very happy',
       'Extraordin', 'Marvelous ', 'This lil p', 'Meet Scott',
       'Lots of pu', 'Meet Darby', 'Mighty rar', '10/10 for ',
       'Meet Snick', 'Exotic und', 'This is Op', 'This pup h',
       'Meet Dylan', 'Remarkable', 'This is sp', 'When you t',
       'Very fit h', "I'm just g", 'After 22 m', 'Interestin',
       'This is JD', 'Super rare', 'Meet Aleja', 'Striped do',
       'Tfw she sa', 'Pack of ho', 'Meet Holly', '*strugglin',
       'Neat pup h', 'Me running', 'Two miniat', 'Meet Phred',
       'Meet Colby', 'Pink dogs ', 'Scary dog ', "Can't do b",
       'Meet Mason', 'I would do', 'Two obedie', 'Flamboyant',
       'This dude ', '"To bone o', 'Meet Vince', '*screams f',
       'Meet Danny', 'This is Es', 'This is Pl', 'Honor to r',
       'Silly dog ', 'This dog c', 'Vibrant do', 'Meet Koda.',
       'Two unbeli', 'Meet Hank ', 'Meet Herb.', 'Sharp dog ',
       'AT DAWN...', '"Hi yes th', 'Meet Fabio', '😂😂😂 10/10 ',
       'Awesome do', 'After coun', 'Meet Louie', 'Very human',
       'Special do', 'Meet Kolli', 'Meet Rondu', 'Meet Sayde',
       'Meet Dug. ', 'Just got h', 'Meet Ralf.', 'Meet Terra',
       '12/10 good', 'Meet Jayco', 'Meet Lambe', 'Incredibly',
       'Fascinatin', 'Meet Hanz.', 'Meet Zeek.', 'Never forg',
       'It is an h', "There's a ", 'This is Gò', 'Good teamw',
       '2 rare dog', "I can't do", 'Meet Sophi', 'Sneaky dog',
       'Fun dogs h', 'This dog r', 'Meet Otis.', 'Wow. Armor',
       'Meet Stu. ', 'Neat dog. ', 'THE EYES 1', 'OMIGOD 12/',
       'Dogs only ', 'Meet Olive', 'What a dog', 'RT @dograt',
       'Here is Ge', 'Meet Napha', 'Another to', 'This a Nor',
       'Two dogs i', 'Meet Cupca', 'Exotic dog', 'Ermergerd ',
       'This is Fw', '*takes sev', 'Quite an a', 'Here is Da',
       'After much', '12/10 gimm', 'My goodnes', '12/10 simp',
       'Unfamiliar', 'Cool dog. ', "I'll name ", '"Can you b',
       'Oh boy wha', '*internall', 'This is qu', 'Oh goodnes',
       'Those are ', 'Look at th', 'Can take s', 'Very conce',
       'Not famili', 'Oh my. Her', 'Can stand ', 'This appea',
       "Let's hope", 'Here is th', 'My oh my. '], dtype=object)

In [7]:
twitter_archive_enhanced['rating_denominator'].value_counts()

10     2333
11        3
50        3
80        2
20        2
2         1
16        1
40        1
70        1
15        1
90        1
110       1
120       1
130       1
150       1
170       1
7         1
0         1
Name: rating_denominator, dtype: int64

In [10]:
tweet_json.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2345 entries, 0 to 2344
Data columns (total 3 columns):
tweet_id     2345 non-null int64
favorites    2345 non-null int64
retweets     2345 non-null int64
dtypes: int64(3)
memory usage: 55.0 KB

### Tidiness
- create one variable from four columns: doggo, floofer, pupper, puppo
- create one data set, join image_predict and tweet_json with twitter_archive_enhanced

### Quality

- there are retweets in the dataset, remove the data and columns
- different number of entries in image_predict (2075) from twitter archive (2356), so that means that some tweets have no image
- display full content of text column
- remove HTML part from source column to be easier to read
- correct the dog names, find out a name from tweet text (some cases like 'a', 'an')
- rename columns to have a more meaningful name (to be easier understand what that column represent)
- change the data type for columns which have a wrong data type.
- from tweet text remover URL

## Cleaning the data

In [834]:
# Before we start with cleaning process I'll first create clean copy for each dataframe
twitter_archive_enhanced_clean = twitter_archive_enhanced.copy()
image_predict_clean = image_predict.copy()
tweet_json_clean = tweet_json.copy()

### Tidiness

#### Define

Create one variable from four variables: doggo, floofer, pupper, puppo

#### Code

In [835]:
concat_dogs = twitter_archive_enhanced_clean['text'].str.extract('(doggo|floofer|pupper|puppo)', expand=True)
twitter_archive_enhanced_clean['dog'] = concat_dogs

In [836]:
vars_to_drop = ['doggo', 'floofer', 'pupper', 'puppo']
twitter_archive_enhanced_clean = twitter_archive_enhanced_clean.drop(vars_to_drop, axis=1)

#### Test

In [837]:
dog_not_na = pd.notna(twitter_archive_enhanced_clean['dog'])
twitter_archive_enhanced_clean[dog_not_na].sample(5)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,dog
1142,727524757080539137,NaN,NaN,2016-05-03 15:46:33 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This pupper had to undergo emergency haircut surgery so he could hear again. 10/10 miraculous af https://t.co/fUyDIFkBwx,NaN,NaN,NaN,"https://twitter.com/dog_rates/status/727524757080539137/photo/1,https://twitter.com/dog_rates/status/727524757080539137/photo/1",10,10,None,pupper
46,883360690899218434,NaN,NaN,2017-07-07 16:22:55 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Meet Grizzwald. He may be the floofiest floofer I ever did see. Lost eyes saving a schoolbus from a volcano erpuption. 13/10 heroic as h*ck https://t.co/rf661IFEYP,NaN,NaN,NaN,https://twitter.com/dog_rates/status/883360690899218434/photo/1,13,10,Grizzwald,floofer
1797,677269281705472000,NaN,NaN,2015-12-16 23:29:14 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is the happiest pupper I've ever seen. 10/10 would trade lives with https://t.co/ep8ATEJwRb,NaN,NaN,NaN,https://twitter.com/dog_rates/status/677269281705472000/photo/1,10,10,the,pupper
992,748692773788876800,NaN,NaN,2016-07-01 01:40:41 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",That is Quizno. This is his beach. He does not tolerate human shenanigans on his beach. 10/10 reclaim ur land doggo https://t.co/vdr7DaRSa7,NaN,NaN,NaN,https://twitter.com/dog_rates/status/748692773788876800/photo/1,10,10,his,doggo
1608,685641971164143616,NaN,NaN,2016-01-09 01:59:19 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Otis. He just passed a cop while going 61 in a 45. Very nervous pupper. 7/10 https://t.co/jJS8qQeuNO,NaN,NaN,NaN,https://twitter.com/dog_rates/status/685641971164143616/photo/1,7,10,Otis,pupper

<hr>

#### Define

Create one data set, join image_predict and tweet_json with twitter_archive_enhanced

#### Code

In [838]:
we_rate_dogs_clean = pd.merge(twitter_archive_enhanced_clean, image_predict_clean,how='left',on=['tweet_id'])
we_rate_dogs_clean = pd.merge(we_rate_dogs_clean, tweet_json_clean, how='left',on=['tweet_id'])

#### Test

In [839]:
we_rate_dogs_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2356 entries, 0 to 2355
Data columns (total 27 columns):
tweet_id                      2356 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null object
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
dog                           399 non-null object
jpg_url                       2075 non-null object
img_num                       2075 non-null float64
p1                            2075 non-null object
p1_conf                       2075 non-null float64
p1_dog                        2075 non-null object
p2                            2075 non-null object
p2_conf                       2075 non-null float64
p2_dog                        2075 non-null object
p3                            2075 non-null object
p3_conf                       2075 non-null float64
p3_dog                        2075 non-null object
favorites                     2345 non-null float64
retweets                      2345 non-null float64
dtypes: float64(10), int64(3), object(14)
memory usage: 515.4+ KB

### Quality

#### Define
There are retweets in dataset, remove the data and columns

#### Code

In [840]:
#remove the data
we_rate_dogs_clean = we_rate_dogs_clean[we_rate_dogs_clean['retweeted_status_id'].isnull()]

#### Test

In [841]:
sum(we_rate_dogs_clean['retweeted_status_id'].notnull())

0

#### Code

In [842]:
#remove columns
columns_to_remove = ['retweeted_status_id', 'retweeted_status_user_id', 'retweeted_status_timestamp']
we_rate_dogs_clean = we_rate_dogs_clean.drop(columns_to_remove, axis=1)

#### Test

In [843]:
we_rate_dogs_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2175 entries, 0 to 2355
Data columns (total 24 columns):
tweet_id                 2175 non-null int64
in_reply_to_status_id    78 non-null float64
in_reply_to_user_id      78 non-null float64
timestamp                2175 non-null object
source                   2175 non-null object
text                     2175 non-null object
expanded_urls            2117 non-null object
rating_numerator         2175 non-null int64
rating_denominator       2175 non-null int64
name                     2175 non-null object
dog                      364 non-null object
jpg_url                  1994 non-null object
img_num                  1994 non-null float64
p1                       1994 non-null object
p1_conf                  1994 non-null float64
p1_dog                   1994 non-null object
p2                       1994 non-null object
p2_conf                  1994 non-null float64
p2_dog                   1994 non-null object
p3                       1994 non-null object
p3_conf                  1994 non-null float64
p3_dog                   1994 non-null object
favorites                2175 non-null float64
retweets                 2175 non-null float64
dtypes: float64(8), int64(3), object(13)
memory usage: 424.8+ KB

---

#### Define
Different number of entries in image_predict (2075) from twitter archive (2356), so that means that some tweets have no image
Remove those records from dataframe.

#### Code

In [844]:
we_rate_dogs_clean = we_rate_dogs_clean.dropna(subset = ['jpg_url'])

#### Test

In [845]:
len(we_rate_dogs_clean)

1994

<hr>

#### Define
Display full content of text column.

#### Code

In [846]:
pd.set_option('display.max_colwidth',999)
pd.options.display.max_colwidth

999

#### Test

In [847]:
we_rate_dogs_clean.sample(5)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,...,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog,favorites,retweets
1485,693155686491000832,NaN,NaN,2016-01-29 19:36:08 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Dunkin. He can only see when he's wet (tragic). 12/10 future heartbreaker https://t.co/At8Kxc5H9U,"https://twitter.com/dog_rates/status/693155686491000832/photo/1,https://twitter.com/dog_rates/status/693155686491000832/photo/1,https://twitter.com/dog_rates/status/693155686491000832/photo/1,https://twitter.com/dog_rates/status/693155686491000832/photo/1",12,10,Dunkin,...,0.697480,True,Lhasa,0.200151,True,Tibetan_terrier,0.090970,True,8480.0,3521.0
1219,714631576617938945,NaN,NaN,2016-03-29 01:53:39 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Benedict. He's a feisty pup. Needs a brushing. Portable af. Looks very angry actually. 4/10 might not pet https://t.co/3oeFfHjv0Z,https://twitter.com/dog_rates/status/714631576617938945/photo/1,4,10,Benedict,...,0.143497,False,weasel,0.117402,False,black-footed_ferret,0.099933,False,3491.0,1092.0
1878,675047298674663426,NaN,NaN,2015-12-10 20:19:52 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is a fluffy albino Bacardi Columbia mix. Excellent at the tweets. 11/10 would hug gently https://t.co/diboDRUuEI,https://twitter.com/dog_rates/status/675047298674663426/photo/1,11,10,a,...,0.978007,True,chow,0.007121,True,Pomeranian,0.006398,True,1113.0,354.0
623,796031486298386433,NaN,NaN,2016-11-08 16:47:50 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Daisy. She's here to make your day better. 13/10 mission h*ckin successful https://t.co/PbgvuD0qIL,https://twitter.com/dog_rates/status/796031486298386433/photo/1,13,10,Daisy,...,0.893775,True,Labrador_retriever,0.070140,True,doormat,0.008419,False,11842.0,4181.0
1249,711306686208872448,NaN,NaN,2016-03-19 21:41:44 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",What hooligan sent in pictures w/out a dog in them? Churlish af. 3/10 just bc that's a neat fluffy bean bag chair https://t.co/wcwoGOkZvz,"https://twitter.com/dog_rates/status/711306686208872448/photo/1,https://twitter.com/dog_rates/status/711306686208872448/photo/1",3,10,None,...,0.280835,False,loggerhead,0.123290,False,Dandie_Dinmont,0.086792,True,3534.0,798.0

<hr>

#### Define
Remove HTML part from source column to be easier to read

#### Code

In [848]:
we_rate_dogs_clean['source'] = we_rate_dogs_clean['source'].str.replace('<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>', 'Twitter for iPhone')
we_rate_dogs_clean['source'] = we_rate_dogs_clean['source'].str.replace('<a href="http://twitter.com" rel="nofollow">Twitter Web Client</a>', 'Twitter Web Client')
we_rate_dogs_clean['source'] = we_rate_dogs_clean['source'].str.replace('<a href="https://about.twitter.com/products/tweetdeck" rel="nofollow">TweetDeck</a>', 'TweetDeck')

#### Test

In [849]:
we_rate_dogs_clean.source.value_counts()

Twitter for iPhone    1955
Twitter Web Client      28
TweetDeck               11
Name: source, dtype: int64

<hr>

#### Define
Correct the dog names, find out a name from tweet text (some cases like 'a', 'an'). I found out that sample that's repeating for dog names : 'This is', 'Meet', 'Say hello to','Here we have ').

#### Code

In [850]:
names = []
req_ex = r'[A-Z].*'

for text in we_rate_dogs_clean['text']:
    if text.startswith('This is ') and re.match(req_ex,text.split()[2]): #Names which starts with 'This is [name]...'
        names.append(text.split()[2].strip(',').strip('.')) #Remove '.' and ',' from string
    elif text.startswith('Meet ') and re.match(req_ex,text.split()[1]):
        names.append(text.split()[1].strip(',').strip('.'))
    elif text.startswith('Say hello to ') and re.match(req_ex,text.split()[3]):
        names.append(text.split()[3].strip(',').strip('.'))
    elif text.startswith('Here we have ') and re.match(req_ex,text.split()[3]):
        names.append(text.split()[3].strip(',').strip('.')) 
    elif 'named' in text and re.match(r'[A-Z].*', text.split()[text.split().index('named') + 1]):
        names.append(text.split()[text.split().index('named') + 1].strip(',').strip('.'))
    else:
        names.append('None')
        
we_rate_dogs_clean['name'] = names

#### Test

In [851]:
we_rate_dogs_clean.name.sort_values()

1021            Abby
1035            Abby
938              Ace
1933            Acro
1327           Adele
1934           Aiden
77               Aja
480            Akumi
820               Al
875           Albert
1954          Albert
412            Albus
144            Albus
1115         Aldrick
2046       Alejandro
374        Alexander
1189    Alexanderson
486              Alf
367            Alfie
1616           Alfie
2238           Alfie
858            Alfie
2235         Alfonso
2161         Alfredo
51              Alfy
1701           Alice
201            Alice
2146         Alphred
1495           Amber
1334         Ambrose
            ...
986          Winston
816          Winston
280          Winston
559          Winston
407          Winston
1829         Winston
1243         Winston
2133         Winston
877           Wishes
410            Wyatt
1451           Wyatt
174            Wyatt
1853           Wylie
1378            Yoda
622             Yogi
43              Yogi
1332            Zara
2206            Zeek
547             Zeke
181             Zeke
17              Zeke
2166            Zeus
1210            Zeus
1124            Ziva
966              Zoe
2141            Zoey
115             Zoey
8               Zoey
151            Zooey
1875            Zuzu
Name: name, Length: 1994, dtype: object

<hr>

#### Define
Rename columns to have a more meaningful name (to be easier understand what that column represent)

#### Code

In [852]:
we_rate_dogs_clean = we_rate_dogs_clean.rename(columns = 
                                        {'timestamp': 'tweet_date', 
                                        'source': 'tweet_source', 
                                        'text': 'tweet_text', 
                                        'name': 'dog_name',
                                        'dog': 'dog_category',
                                        'expanded_urls': 'tweet_url', 
                                        'jpg_url': 'tweet_picture', 
                                        'favorites': 'tweet_favorites', 
                                        'retweets': 'tweet_retweets'})

#### Test

In [853]:
we_rate_dogs_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1994 entries, 0 to 2355
Data columns (total 24 columns):
tweet_id                 1994 non-null int64
in_reply_to_status_id    23 non-null float64
in_reply_to_user_id      23 non-null float64
tweet_date               1994 non-null object
tweet_source             1994 non-null object
tweet_text               1994 non-null object
tweet_url                1994 non-null object
rating_numerator         1994 non-null int64
rating_denominator       1994 non-null int64
dog_name                 1994 non-null object
dog_category             326 non-null object
tweet_picture            1994 non-null object
img_num                  1994 non-null float64
p1                       1994 non-null object
p1_conf                  1994 non-null float64
p1_dog                   1994 non-null object
p2                       1994 non-null object
p2_conf                  1994 non-null float64
p2_dog                   1994 non-null object
p3                       1994 non-null object
p3_conf                  1994 non-null float64
p3_dog                   1994 non-null object
tweet_favorites          1994 non-null float64
tweet_retweets           1994 non-null float64
dtypes: float64(8), int64(3), object(13)
memory usage: 389.5+ KB

<hr>

#### Define
Change the data type for columns which have a wrong data type.

#### Code

In [854]:
we_rate_dogs_clean['tweet_date'] = pd.to_datetime(we_rate_dogs_clean.tweet_date)
we_rate_dogs_clean['tweet_source'] = we_rate_dogs_clean['tweet_source'].astype('category')
we_rate_dogs_clean['dog_category'] = we_rate_dogs_clean['dog_category'].astype('category')

we_rate_dogs_clean['tweet_id'] = we_rate_dogs_clean['tweet_id'].astype(object)
we_rate_dogs_clean['in_reply_to_status_id'] = we_rate_dogs_clean['in_reply_to_status_id'].astype(object)
we_rate_dogs_clean['in_reply_to_user_id'] = we_rate_dogs_clean['in_reply_to_user_id'].astype(object)

we_rate_dogs_clean['tweet_favorites'] = we_rate_dogs_clean['tweet_favorites'].astype(int)
we_rate_dogs_clean['tweet_retweets'] = we_rate_dogs_clean['tweet_retweets'].astype(int)

we_rate_dogs_clean['p1_dog'] = we_rate_dogs_clean['p1_dog'].astype(bool)
we_rate_dogs_clean['p2_dog'] = we_rate_dogs_clean['p2_dog'].astype(bool)
we_rate_dogs_clean['p3_dog'] = we_rate_dogs_clean['p3_dog'].astype(bool)

#### Test

In [855]:
we_rate_dogs_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1994 entries, 0 to 2355
Data columns (total 24 columns):
tweet_id                 1994 non-null object
in_reply_to_status_id    23 non-null object
in_reply_to_user_id      23 non-null object
tweet_date               1994 non-null datetime64[ns]
tweet_source             1994 non-null category
tweet_text               1994 non-null object
tweet_url                1994 non-null object
rating_numerator         1994 non-null int64
rating_denominator       1994 non-null int64
dog_name                 1994 non-null object
dog_category             326 non-null category
tweet_picture            1994 non-null object
img_num                  1994 non-null float64
p1                       1994 non-null object
p1_conf                  1994 non-null float64
p1_dog                   1994 non-null bool
p2                       1994 non-null object
p2_conf                  1994 non-null float64
p2_dog                   1994 non-null bool
p3                       1994 non-null object
p3_conf                  1994 non-null float64
p3_dog                   1994 non-null bool
tweet_favorites          1994 non-null int32
tweet_retweets           1994 non-null int32
dtypes: bool(3), category(2), datetime64[ns](1), float64(4), int32(2), int64(2), object(10)
memory usage: 306.0+ KB

<hr>

#### Define
From tweet text remove URL

#### Code

In [856]:
def f_tweet_text(df, col, word):
    text_list = []
    for text in df[col]:
        text_list.append(text)
    clean_text = []
    for text_2 in text_list:
        cleaned_text = text_2[:text_2.find(word)-1]
        clean_text.append(cleaned_text)
    return(clean_text)

In [857]:
we_rate_dogs_clean['tweet_text'] = f_tweet_text(we_rate_dogs_clean, 'tweet_text', 'https')

#### Test

In [858]:
sum(we_rate_dogs_clean['tweet_text'].str.contains('https') == True)

0

In [859]:
we_rate_dogs_clean.sample(10)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,tweet_date,tweet_source,tweet_text,tweet_url,rating_numerator,rating_denominator,dog_name,...,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog,tweet_favorites,tweet_retweets
1368,702539513671897089,NaN,NaN,2016-02-24 17:04:07,Twitter for iPhone,This is a Wild Tuscan Poofwiggle. Careful not to startle. Rare tongue slip. One eye magical. 12/10 would def pet,"https://twitter.com/dog_rates/status/702539513671897089/photo/1,https://twitter.com/dog_rates/status/702539513671897089/photo/1,https://twitter.com/dog_rates/status/702539513671897089/photo/1",12,10,None,...,0.714367,True,Shih-Tzu,0.040574,True,silky_terrier,0.032511,True,3076,1056
639,793256262322548741,NaN,NaN,2016-11-01 01:00:05,Twitter for iPhone,Oh h*ck look at this spookling right here. Fright level off the charts. 12/10 sufficiently spooked,https://twitter.com/dog_rates/status/793256262322548741/photo/1,12,10,None,...,0.207622,True,Walker_hound,0.060574,True,beagle,0.041221,True,21906,9427
1507,691675652215414786,NaN,NaN,2016-01-25 17:35:00,Twitter for iPhone,This is Richie and Plip. They are the best of pals. Do everything together. 10/10 for both,https://twitter.com/dog_rates/status/691675652215414786/photo/1,10,10,Richie,...,0.182898,True,teddy,0.128077,False,West_Highland_white_terrier,0.097875,True,2079,559
1488,692919143163629568,NaN,NaN,2016-01-29 03:56:12,Twitter for iPhone,Please only send in dogs. Don't submit other things like this pic of Kenny Chesney in a bathtub. Thank you. 9/10,https://twitter.com/dog_rates/status/692919143163629568/photo/1,9,10,None,...,0.612635,True,English_springer,0.269744,True,boxer,0.048666,True,2863,817
297,837110210464448512,NaN,NaN,2017-03-02 01:20:01,Twitter for iPhone,This is Clark. He passed pupper training today. Round of appaws for Clark. 13/10,https://twitter.com/dog_rates/status/837110210464448512/photo/1,13,10,Clark,...,0.767696,True,Eskimo_dog,0.217079,True,malamute,0.011657,True,17135,2649
1574,687480748861947905,NaN,NaN,2016-01-14 03:45:57,Twitter for iPhone,Another magnificent photo. 12/10,https://twitter.com/dog_rates/status/687480748861947905/photo/1,12,10,None,...,0.472273,True,English_setter,0.166862,True,Brittany_spaniel,0.163411,True,1713,274
1352,703774238772166656,NaN,NaN,2016-02-28 02:50:28,Twitter for iPhone,"""YOU CAN'T HANDLE THE TRUTH"" both 10/10",https://twitter.com/dog_rates/status/703774238772166656/photo/1,10,10,None,...,0.990119,True,Chesapeake_Bay_retriever,0.008026,True,curly-coated_retriever,0.001242,True,1978,510
2015,672205392827572224,NaN,NaN,2015-12-03 00:07:09,Twitter for iPhone,This is Opal. He's a Royal John Coctostan. Ready for transport. Basically indestructible. 9/10 good pupper,https://twitter.com/dog_rates/status/672205392827572224/photo/1,9,10,Opal,...,0.952613,False,crate,0.035376,False,pug,0.003267,True,2349,1226
1965,673345638550134785,NaN,NaN,2015-12-06 03:38:05,Twitter for iPhone,This is Gerald. He's a fluffy lil yellow pup. Always looks like his favorite team just lost on a hail mary. 7/10,https://twitter.com/dog_rates/status/673345638550134785/photo/1,7,10,Gerald,...,0.761025,False,weasel,0.069362,False,Pomeranian,0.064627,True,2631,1373
1504,691820333922455552,NaN,NaN,2016-01-26 03:09:55,Twitter for iPhone,This is Brockly. He's an uber driver. Falls asleep at the wheel often. Irresponsible af 8/10 would totally still pet,https://twitter.com/dog_rates/status/691820333922455552/photo/1,8,10,Brockly,...,0.332756,False,sports_car,0.129452,False,limousine,0.073936,False,4233,1807

<hr>

### Combined and cleaned data (saved to file)

In [862]:
we_rate_dogs_clean.to_csv('twitter_archive_master.csv', encoding = 'utf-8')

### Analyzing